.document {
    max-width: 640px;
    margin: 0 auto;
    padding: 30px 10px;

    font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    color: #444443;
}

.entry-title {
    margin: 0.67em 0;
    margin-top: 0;
    font-size: 2em;
}

.content {
    max-width: 640px;
    margin: 0 auto;
    padding: 30px 10px;
}
.content__title {
    margin: 0.67em 0;
    font-size: 1.8em;
    font-family: "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", "SimSun", sans-serif;
    color: #222223;
}
.content__description {
    color: #676867;
    font-size: larger;
}
.content__meta {
    border-top: 1px solid #eee;
    padding-top: 10px;
    color: #565655;
    font-size: smaller;
}

.content__updated-date {
    font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
    font-size: 15px;
    color: #565655;
}